 h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Comic Sans', Geneva, Verdana, sans-serif;
            text-align: center;
        }
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Comic Sans', Geneva, Verdana, sans-serif;
            text-indent: 2em;
        }
        h2.section{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            font-size: medium;
            margin-top: 0em;
            margin-bottom: 0em;
            margin-left: 2em;
        }
        div.s{
            float: left;
            margin-left: 2em;
            margin-right: 2ex;
            counter-increment: statement;
        }
        div.s.definition{
            font-weight: bold;
            color: orange;
        }
        div.s.definition::after{
            content: ".";
        }
        div.s.theorem{
            font-weight: bold;
            color: orange;
        }
        div.s.theorem::after{
            content: ".";
        }
        div.s.lemma{
            font-weight: bold;
            color: palevioletred;
        }
        div.s.lemma::after{
            content: ".";
        }
        div.s.remark{
            font-weight: bold;
            color: palevioletred;
        }
        div.s.remark::after{
            content: ".";
        }
        div.s.prp{
            font-weight: bold;
            color: palevioletred;
        }
        div.s.prp::after{
            content: ".";
        }
        div.s.crl{
            font-weight: bold;
            color: palevioletred;
        }
        div.s.crl::after{
            content: ".";
        }
        b.textbf{
            font-weight: bold;
            margin-right: 0ex;
            color: royalblue;
        }
        p.proof{
            margin-top: 0em;
            margin-bottom: 0em;
            margin-left: 0em;
        }
        p.proof::before{
            color: orangered;
            font-weight: bold;
            content: "Proof. ";
        }
        p.proof::after{
            float: right;
            content: "";
            border: 1px black solid;
            display: block;
            height: 15px;
            width: 15px;
            right: 0px;
            bottom: 0px;
        }
        body{
            counter-reset: footnotes;
            counter-reset: statement;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Comic Sans', Geneva, Verdana, sans-serif;
        }
        hr.new2{
            border: 0.5px solid;
        }
        h3.subsection{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            font-size: medium;
            margin-top: 0em;
            margin-bottom: 0em;
            margin-left: 2em;
        }
        ol.thm{
            list-style-type: none;
            counter-reset: thmpart;
        }
        ol.thm li{
            counter-increment: thmpart;
        }
        ol.thm li::before{
            content: "("counter(thmpart,lower-roman)")";
        }
        a{
            color: violet;
        }
        article{
            background-color: darkgreen;
            color: white;
        }