 h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
        }
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-indent: 2em;
        }
        h2.section{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            font-size: medium;
            margin-top: 0em;
            margin-bottom: 0em;
            margin-left: 2em;
        }
        div.s{
            float: left;
            margin-left: 2em;
            margin-right: 2ex;
            counter-increment: statement 1;
        }
        div.s.definition{
            font-weight: bold;
            color: darkseagreen;
        }
        div.s.theorem{
            font-weight: bold;
            color: orange;
        }
        div.s.lemma{
            font-weight: bold;
            color: darkseagreen;
        }
        b.textbf{
            font-weight: bold;
            margin-right: 0ex;
            color: royalblue;
        }
        div.s.theorem::before{
            content: "1." counter(statement) "." "Theorem";
        }
        div.s.theorem::after{
            content: ".";
        }
        div.s.definition::before{
            content: "1." counter(statement) "." "Definition";
        }
        div.s.definition::after{
            content: ".";
        }
        div.s.lemma::before{
            content: "1." counter(statement) "." "Lemma";
        }
        div.s.lemma::after{
            content: ".";
        }
        body{
            counter-reset: footnotes;
            counter-reset: statement;
        }
        hr.new2{
            border: 0.5px solid;
        }
        h3.subsection{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            font-size: medium;
            margin-top: 0em;
            margin-bottom: 0em;
            margin-left: 2em;
        }