 h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
        }
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-indent: 2em;
        }
        h2.section{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            font-size: medium;
            margin-top: 0em;
            margin-bottom: 0em;
            margin-left: 2em;
        }
        div.definition{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            color: darkseagreen;
            margin-left: 2em;
        }
        div.lemma{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            color: darkseagreen;
            margin-left: 2em;
        }
        b.textbf{
            font-weight: bold;
            margin-right: 0ex;
            color: royalblue;
        }
        div.theorem{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            color: orange;
            margin-left: 2em;
        }
        div.theorem::before{
            counter-increment: statement +1;
            content: "1." counter(statement) "." "Theorem";
        }
        div.theore::after{
            content: ".";
        }
        div.definition::before{
            counter-increment: statement +1;
            content: "1." counter(statement) "." "Definition";
        }
        div.definition::after{
            content: ".";
        }
        div.lemma::before{
            counter-increment: statement +1;
            content: "1." counter(statement) "." "Lemma";
        }
        div.lemma::after{
            content: ".";
        }
        body{
            counter-reset: statement;
            counter-reset: footnotes;
        }
        hr.new2{
            border: 0.5px solid;
        }
        h3.subsection{
            font-weight: bold;
            margin-right: 2ex;
            float: left;
            font-size: medium;
            margin-top: 0em;
            margin-bottom: 0em;
            margin-left: 2em;
        }